<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mvvmrac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>216E21A71DAD03C3006C36C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>216E21C01DAD03C3006C36C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>216E21CB1DAD03C3006C36C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
